{% extends 'home/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobby</title>

</head>
<body>
{% block body %}
   <div class="centerBody">
<h1>{{ hobby.hobby_name }}</h1>
<img class="card centerImg" height="150px" src="{{ hobby.hobby_image }}"/>
<h2>{{ hobby.hobby_desc }}</h2>
   <a href="{% url 'port:delete_hobby' hobby.id %}">DELETE</a>
   </div>
{% endblock %}
</body>
</html>


