{% extends 'home/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>
<body>
{% block body %}
    <div class="centerBody">
<h1 id="homeHeader">About Me</h1>
<p>My name is Amber Spatig, I'm a senior at WSU majoring in CS.</br>
    I work for Weber State's CE department updating and maintaining their websites.</p>

    </div>
{% endblock %}
</body>
</html>